*{
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;

  &__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    direction: rtl;
  }
}

.terminal{
  min-height: 10em;
  margin-top: 1em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  font-family: ModeSeven;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__title{
    text-align: center;
    font-style: italic;
  }

  &__textarea{
    align-self: center;
    min-height: 20em;
  }

  &__output{
    display: flex;
    flex-flow: column;
    height: 20em;
    background-color: white;
  }

  &__message{
    margin:5px;
  }

}
