<div class="container p-3 bg-light">
  <h1  class="text-center m-3">Farsi Compiler</h1>

    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      class="form" >

      <div class="form__container w-100 ">

        <div class="section col-12 col-sm-5 ">

          <label  for="textArea" class="section__title">INPUT Commands</label>

            <textarea ngModel
              dir="rtl"
              id="textArea"
              class="section__textarea w-100"
              name="inputText"
              placeholder=
                        "
                شروع
                عدد الف1
                رشته سین1
                سین1 - 'رضا'
                الف1 - 5
                الف1 - الف1 + 8
                چاپ الف1
                چاپ سین1
                پایان
                      " >

             </textarea>
        </div>

        <div class="section col-12 col-sm-5 ">

          <label class="section__title ">OUTPUT results</label>

          <div class="section__output border border-3">
            <p class="section__message"
              *ngFor="let message of outputText"
              dir="rtl">
              {{message}}
            </p>
          </div>

        </div>

      </div>

      <div class="form__actions my-3">
        <button type="submit" class="btn btn-primary btn-lg">Compile</button>
      </div>

    </form>

    <div dir="ltr" class="terminal bg-dark">

      <label class="text-white">Terminal: </label>

      <div class="terminal__message">
        <p *ngFor="let message of outputTerminal" class="m-1 p-1"
           [ngClass]="{'alert alert-warning': message.type === 'warning', 'alert alert-danger': message.type === 'error'}">
         {{  ( message.lineIndex !== -1 ? message.lineIndex + ':' + message.wordIndex + ' ' : '')}} {{ message.type.toUpperCase() }}: {{message.message}}
        </p>
      </div>
    </div>

  <div dir="ltr" class="text-center m-3">
    <div class="alert alert-warning w-100 py-0 my-2" >
      <p class=" ">
        برای مشاهده سورس کد، توضیحات و نحوه استفاده لطفا به صفحه گیت هاب این پروژه مراجعه کنید
      </p>

    </div>
   <span>Powered by:
      <a
        class="btn btn-link"
        href="https://angular.io/"
        target="_blank">Angular</a>
      &
      <a
        class="btn btn-link"
        href="https://firebase.google.com"
        target="_blank">Firebase</a>
  </span>
    <p>GitHub Page:
      <a
        class="btn btn-link"
        href="https://github.com/Alle-toghiani/Farsi-Compiler"
        target="_blank">Farsi-Compiler</a>
    </p>
  </div>

</div>
